{
  "parser": "babel-eslint",
  "extends": [
    "plugin:flowtype/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "es6": true
  },
  "plugins": [
    "flowtype",
    "react",
    "prettier"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    // don't force es6 functions to include space before paren
    "space-before-function-paren": 0,
    "prettier/prettier": "error"
  }
}
