.rft {
  overflow-y: auto;
  contain: strict;
}

.rft-sizer {
  height: 100%;
}

.rft-outer-container {
  position: relative;
  width: 100%;
}

.rft-inner-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.rft-sticky-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

.rft-sticky-header.scroll,
.rft-footer.scroll {
  width: fit-content;
}

.rft-header {
  display: flex;
}

.rft-row-wrapper {
  display: inline-block;
}

.rft-row-container {
  width: 100%;
}

.rft-row {
  display: flex;
}

.rft-cell,
.rft-header-cell {
  box-sizing: border-box;
  display: flex;
  padding: 8px;
}

.rft-cell.frozen,
.rft-header-cell.frozen {
  position: sticky;
  z-index: 1;
}

.rft-header-cell {
  align-items: baseline;
}

.rft-header-cell-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.rft-header-cell-arrow {
  width: 0;
  height: 0;
  margin-left: 4px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.rft-header-cell-arrow.asc {
  border-bottom: 10px solid #7d7d7d;
}

.rft-header-cell-arrow.desc {
  border-top: 10px solid #7d7d7d;
}

.rft-footer {
  width: 100%;
}

.rft-footer.sticky {
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.rft-cell {
  align-items: center;
  position: relative;
  overflow: hidden;
}

.rft-expander {
  cursor: pointer;
  height: 1em;
  width: 1em;
}

.rft-hidden {
  display: none;
}
