.rft {
  display: grid;
  overflow-y: auto;
  contain: strict;
  grid-template-rows: auto 1fr auto;
}

.rft-header {
  display: grid;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

.rft-header-row {
  display: flex;
}

.rft-body {
  display: grid;
  position: relative;
  width: 100%;
}

.rft-row {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
}

.rft-cell,
.rft-header-cell {
  box-sizing: border-box;
  display: flex;
  padding: 0.5rem;
}

.rft-cell.frozen,
.rft-header-cell.frozen {
  position: sticky;
  z-index: 1;
}

.rft-header-cell {
  align-items: baseline;
}

.rft-header-cell-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.rft-header-cell-arrow {
  width: 0;
  height: 0;
  margin-left: 0.25rem;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.rft-header-cell-arrow.asc {
  border-bottom: 10px solid #7d7d7d;
}

.rft-header-cell-arrow.desc {
  border-top: 10px solid #7d7d7d;
}

.rft-cell {
  align-items: center;
  position: relative;
  overflow: hidden;
}

.rft-expander {
  cursor: pointer;
  height: 1em;
  width: 1em;
}

.rft-sub-component {
  width: 100%;
}

.rft-footer {
  width: 100%;
}

.rft-footer.sticky {
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.rft-hidden {
  display: none;
}
