.react-fluid-table {
  background-color: white;
  border: 1px solid #ececec;
}

.react-fluid-table-container {
  will-change: height;
}

.sticky-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.row-wrapper {
  display: inline-block;
}

.react-fluid-table-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #dedede;
}

.header-cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header-cell-text,
.header-cell-arrow {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  color: #7d7d7d;
}

.header-cell-arrow {
  padding-left: 4px;
}

.react-fluid-table-row {
  border-bottom: 1px solid #ececec;
}

.react-fluid-table-row:last-child {
  border-bottom: none;
}

.row-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.expander {
  cursor: pointer;
}

.hidden {
  display: none;
}
