.rft .rft-cell,
.rft .rft-header-cell {
  box-sizing: border-box;
  display: flex;
  padding: 8px;
}

.rft .rft-cell.frozen,
.rft .rft-header-cell.frozen {
  position: sticky;
  z-index: 1;
}

.rft-container {
  will-change: height;
}

.rft-sticky-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.rft-row-wrapper {
  display: inline-block;
}

.rft-header {
  display: flex;
}

.rft-header-cell {
  align-items: baseline;
}

.rft-header-cell-text {
  font-weight: bold;
  color: #7d7d7d;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rft-header-cell-arrow {
  width: 0;
  height: 0;
  margin-left: 4px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.rft-header-cell-arrow.asc {
  border-bottom: 10px solid #7d7d7d;
}

.rft-header-cell-arrow.desc {
  border-top: 10px solid #7d7d7d;
}

.rft-row {
  border-bottom: 1px solid #ececec;
}

.rft-row:last-child {
  border-bottom: none;
}

.rft-footer {
  width: 100%;
  border-top: 1px solid #ececec;
}

.rft-footer.sticky {
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
}

.rft-footer.sticky::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.rft-row-container {
  display: flex;
}

.rft-cell {
  align-items: center;
  position: relative;
  overflow: hidden;
}

.rft-expander {
  cursor: pointer;
  height: 1em;
  width: 1em;
}

.rft-hidden {
  display: none;
}
